---
import Layout from "../layouts/Default/index.astro";
import "../styles/contactos.scss";
---
<Layout title="Welcome to Astro." page="contactos">
    <div id="naim4">
        <div class="cuadradocontacto">
            <div>
                <p class="titulocontacto">trabajemos juntos</p>
            </div>
            <div>
                <form class="formulario">
                    <div class="nombrecontacto">
                        <label for="nombre" class="nombre">nombre</label>
                    <input type="text" class="input">
                    </div>
                    <div class="correocontacto">
                        <label for="correo" class="correo">correo</label>
                    <input type="text" class="input">
                    </div>
                    <div class="mensajecontacto"> 
                        <label for="mensaje" class="mensaje">mensaje</label>
                        <input type="email" class="input">
                    </div>
                   
                </form>
            </div>
            
            <div>
                <button class="buttoncontacto">enviar</button>
            </div>

        </div>
       
    </div>
</Layout>
    