---
import Layout from "../layouts/Default/index.astro";
import trabajo1 from "../assets/images/trabajo1.png";
import trabajo2 from "../assets/images/trabajo2.png";
import trabajo3 from "../assets/images/trabajo3.png";
import trabajo4 from "../assets/images/trabajo 4.png";
import "../layouts/Default/variables.scss";
import "../layouts/Default/variables.scss";
import "../styles/proyectos.scss";
---

<Layout title="Conoce mis proyectos" page="proyectos">
  <div class="main">
    <div class="container-principal">
      <div>
        <p class="texto-titulo texto-proyecto">
          Descubre mis proyectos principales que he diseñado dentro de
          organizaciones StarUp.
        </p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 24rem;">
              <img src={trabajo1} alt="..." />
              <div class="card-body">
                <h5 class="texto-subtitulo">Deep Planning</h5>
                <p class="texto-contenido">
                  Es un software web para predecir las operaciones mineras, se
                  realizo un proceso de design thinking.
                </p>
                <a href="#" class="button_rosado">Ver más</a>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card" style="width: 24rem;">
              <img src={trabajo2} alt="..." />
              <div class="card-body">
                <h5 class="texto-subtitulo">Linkedin</h5>
                <p class="texto-contenido">
                  Proceso de investigación centrado en el usuario como proyecto
                  de práctica para coderhouse.
                </p>
                <a href="#" class="button_rosado">Ver más</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 24rem;">
              <img src={trabajo3} alt="..." />
              <div class="card-body">
                <h5 class="texto-subtitulo">App Rico</h5>
                <p class="texto-contenido">
                  Rico es una aplicación para encontrar lugares para comer y
                  beber cerca a tu ubicación
                </p>
                <a href="#" class="button_rosado">Ver más</a>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card" style="width: 24rem;">
              <img src={trabajo4} alt="..." />
              <div class="card-body">
                <h5 class="texto-subtitulo">Deep Pit</h5>
                <p class="texto-contenido">
                  Diseño de sitio web para la StarUp Deep Pit Tecnologies,
                  dedicada al rubro de mineria.
                </p>
                <a href="#" class="button_rosado">Ver más</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
