---
import Layout from "../layouts/Default/index.astro";
import trabajo1 from "../assets/images/trabajo1.png";
import "../styles/proyectos.scss";
---

<Layout title="Welcome to Astro." page="proyectos">
  <div id="portafolio1">
    <div class="container">

      <div class="row">
        <div class="col">
          <div class="card" style="width: 24rem;">
            <img src={trabajo1} alt="..." />
            <div class="card-body">
              <h5 class="card-title">App Rico</h5>
              <p class="card-text">
                Rico es una aplicación para encontrar lugares para comer y beber
                cerca a tu ubicación
              </p>
              <a href="#" class="button_rosado">Ver más</a>
            </div>
          </div>
        </div>

        <div class="col">
            <div class="card" style="width: 24rem;">
              <img src={trabajo1} alt="..." />
              <div class="card-body">
                <h5 class="card-title">App Rico</h5>
                <p class="card-text">
                  Rico es una aplicación para encontrar lugares para comer y beber
                  cerca a tu ubicación
                </p>
                <a href="#" class="button_rosado">Ver más</a>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
          <div class="col">
            <div class="card" style="width: 24rem;">
              <img src={trabajo1} alt="..." />
              <div class="card-body">
                <h5 class="card-title">App Rico</h5>
                <p class="card-text">
                  Rico es una aplicación para encontrar lugares para comer y beber
                  cerca a tu ubicación
                </p>
                <a href="#" class="button_rosado">Ver más</a>
              </div>
            </div>
          </div>
  
          <div class="col">
              <div class="card" style="width: 24rem;">
                <img src={trabajo1} alt="..." />
                <div class="card-body">
                  <h5 class="card-title">App Rico</h5>
                  <p class="card-text">
                    Rico es una aplicación para encontrar lugares para comer y beber
                    cerca a tu ubicación
                  </p>
                  <a href="#" class="button_rosado">Ver más</a>
                </div>
              </div>
            </div>
          </div>
      </div>
</Layout>
