@import "../layouts/Default/styles.scss";
@import "../layouts/Default/variables.scss";

.contacto{
  @include width-body;
  display: grid;
  gap: 25px;
  background-color: map-get($map: $colors, $key: color-secundario);
  padding: 3%;
  justify-content: center;
  border-radius: 20px;
}
.texto-titulo{
  justify-self: center;
}

.formulario{
  display: grid;
  gap: 20px;
  justify-self: center;
  @media (max-width: 768px) {
    width: 80%;
    justify-self: center;
    
  }
}
.formulario label {
  color: map-get($map: $colors, $key: color-texto);
}
.formulario input, 
.formulario textarea {
  color: map-get($map: $colors, $key: color-texto);
  background-color: map-get($map: $colors, $key: color-input);
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  width: 427px;

  @media (max-width: 768px) {
    width: 300px;
    
  }
  
  @media (max-width: 375px) {
    width: 90%;
    
  }
 
}
.formulario textarea{
  resize: vertical;
}
.contac-form-group label {
  width: 130px;
}
.boton-enviar{
  display: grid;
  justify-content: end;
  border: none;
  
  
  @media (max-width: 768px) {
    width: 90%;
  }
  @media (max-width: 375px) {
    width: 90%;
  }
}