@import "../layouts/Default/styles.scss";
@import "../layouts/Default/styles.scss";

.contenido-sobremi {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
 
}
.cuadrosobremi {
  border-radius: 20px;
  @include width-body;
  padding: 30px;
  @include flex-atributos;
  background-color: map-get($map: $colors, $key: color-secundario);
  gap: 30px;
  @media (max-width: 375px) {
   font-size: map-get($map: $font, $key: text-xs);
   
  }
  @media (max-width: 768px) {
    font-size: map-get($map: $font, $key: text-sm);
   

   }
}

.imagensobremi {
  width: 136px;
  height: 136px;
  display: flex;
  
}

.texto-destacado {
  font-size: map-get($map: $font, $key: text-2xl);
  color: map-get($map: $colors, $key: color-destacado);

  @media (max-width: 768px) {
    font-size: map-get($map: $font, $key: text-lg);
  }
  @media (max-width: 375px) {
    font-size: map-get($map: $font, $key: text-xs);
  }
}

.cuadrosobremi img{
  border-radius: 20px;
  width: 100%;
  align-self: center;

}
