---
import logo from "../../assets/images/logo2.png";
import hamburguesa from "../../assets/images/hamburguesa.png";
import "./styles.scss";

---

<div id="header">
  <div class="header-items">
    <div class="logo">
      <a href="/sitioweb">
        <img class="logo" src={logo} alt="" />
      </a>
    </div>
    <button class="toggle">
      <img src={hamburguesa} alt="">
    </button>
    <div></div>
    <nav class="navbar">
      <ul class="menu">
        <li><a href="/sitioweb/sobremi">Sobre mí</a></li>
        <li><a href="/sitioweb/proyectos">Proyectos</a></li>
        <li><a href="/sitioweb/certificados">Cetificados</a></li>
        <li><a href="/sitioweb/contactos">Contactos</a></li>
      </ul>
    </nav>
    </nav>
  </div>
</div>
