---
import logo from "../../assets/images/logo2.png"
import "./styles.scss";

---

<div id="header">
  <div class="header-items">
    <div class="logo">
      <a href="/">
        <img class="logo" src={logo} alt="" />
      </a>
    </div>
    <div></div>
    <nav class="navbar">
      <ul class="menu">
        <li><a href="/sobremi">Sobre mí</a></li>
        <li><a href="/proyectos">Proyectos</a></li>
        <li><a href="/certificados">Cetificados</a></li>
        <li><a href="/contactos">Contactos</a></li>
      </ul>
    </nav>
    </nav>
  </div>
</div>
