---
import Layout from "../layouts/Default/index.astro";
import sobremi from "../assets/images/foto sobre mi.png";
import imagendescripcion from "../assets/images/imagendescripcion.jpg";
import "../layouts/Default/variables.scss";
import "../styles/sobremi.scss";
---

<Layout title="Sobre mi" page="sobremi">
  <div class="main1">
    <div class="contenido-sobremi">
      <div>
        <img class="imagensobremi" src={sobremi} alt="" />
      </div>

      <div class="texto-titulo ">
        <p class="texto-destacado">¡Hola, soy Karina!</p>
        <p>Diseñadora UX-UI de experiencias digitales centradas en el usuario</p>
      </div>

      <div class="cuadrosobremi ">
        <p class="texto-contenido">
          Hola, en los ultimos meses me he dedicado a realizar proyectos
          de la industria minera, empece a incursionar en el mundo de la 
          tecnología e innovación en la startUp Deep Pit Tecnology donde 
          mi primera función fue de diseñadora gráfica publicitaria, 
          en este trabajo conoci el área de UX/UI, estudie en Coderhouse 
          y realice mis primeras pre practicas como UX/UI, realice este 
          cambie profesional en plena pandemía, epocas de intertidumbre, 
          pero estaba decidida a empezar un nuevo rumbro en mi carrera, 
          actualmente mi meta profesional es convertirme en UI Developer, 
          es por eso que he me encuentro estudiando desarrollo web en Coderhouse 
          y este sitio web es parte de mi proyecto final de cursada. 
          Estoy aprendiendo a utilizar lenguaje de programación como HTML, 
          CCS, Java Scrip, entre otros. Me considero una persona que busca 
          estar en constante aprendizaje. Como parte de mi trabajo en el día 
          a día es diseñar interfaces digitales para software web en la industri 
          mínera. Tengo más de tres software diseñados y dos de ellos se 
          encuentras en producción minera. También he realizado distintos freelance, 
          entre ellos una app para la industria farmaceutica denominada "OpenMed"
          que salio en producción este mes, todo el proceso de diseño lo elaboramos 
          desde cero con mi equipo de trabajo, uno de los retos es mantener un flujo 
          de trabajo con todas las áreas de manera remota, para mejorar en ese 
          aspecto me encargo de elaborar mapas conceptuales, bocetos iniciales, o 
          cualquier tipo de gráfica que pueda ayudar a los demás a entender mi 
          área de trabajo, lo cual me ha ayudado mucho en mis proyectos. Otra de mis 
          pasiones es dedicarme al arte, en mis tiempos libres suelo pintar con 
          técnicas acuarelables, grafitos y pintura acrilica, puedes seguirme en 
          mis redes sociales y descubrir de mis proyectos tanto profesionales como 
          personales, no dudes en escribirme si deseas asesoramiento para tu emprendimiento 
          !Gracias¡
      

        </p>
        
          <img src={imagendescripcion} alt="">
        
      </div>
    </div>
  </div>
</Layout>
