@import "../../layouts/Default/variables.scss";
@import "../../layouts/Default/styles.scss";


.header-items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @include width-body;
 
}

#header {
  background-color: map-get($map: $colors, $key: color-secundario);
  display: flex;
  justify-content: center;
  padding: 1% 3% 1% 3%;
 
}


.navbar {
  background-color: none;
  color: map-get($map: $colors, $key: color-texto );
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  
}

.menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 15px;
  cursor: pointer;
  &:hover{
    transform: scale(1.1);
  }
}

.menu li a {
  text-decoration: none;
  font-size: map-get($map: $font, $key: text-sm);
}

.toggle{
  background: none;
  border: none;
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    background-color: aqua;
  }

  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .navbar:hover .menu {
    display: flex;
  }

  .menu li {
    margin: 10px 0;
  }
}
@media (max-width: 375px) {
  .navbar {
    flex-direction: column;
    
  }
  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    
  }

  .navbar:hover .menu {
    display: flex;
  }

  .menu li {
    margin: 10px 0;
  }
 
}


