/*SAS MAP*/

$colors: (
  color-primario: #21252B,
  color-secundario: #2A2E35,
  color-texto: #AFB3B8,
  color-botton: #EF6BEB,
  color-input: #353A42,
  color-destacado: #EF6BEB,
  color-botton-hover: #C420BF,
);

$font: (
  text-2xl: 35px,
  text-xl: 30px,
  text-lg: 24px,
  text-base: 18px,
  text-sm: 20px,
  text-xs: 14px,
 
);
