#naim4 {
  background-color: #21252b;
}
.cuadradocontacto {
  background-color: #2a2e35;
}

.titulocontacto {
  color: #ef6beb;
  font-size: 28px;
}

.buttoncontacto {
  background-color: #ef6beb;
  color: aliceblue;
  font-size: 20px;
  border-radius: 30px;
  border: none;
}

.nombre {
  color: aliceblue;
}
.correo {
  color: aliceblue;
}
.mensaje {
  color: aliceblue;
}
.input {
  background-color: #2a2e35;
  border-color: #42464d;
  border-radius: 10px;
  height: 36px;
}
