@import "../layouts/Default/variables.scss";
@import "../layouts/Default/styles.scss";

.main{
  padding: 3%;
}
.container-principal{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.card{
  background-color: map-get($map: $colors, $key: color-secundario );
  
  border:none;
}
.row{
  grid-gap: 30px;
  
  
}
.col{
  display: grid;
  justify-content: center;
}
.texto-proyecto{
  @include width-body;
  display: flex;
  
}