@import "./variables.scss";


* {
  margin: 0;
  padding: 0;
}

.main1 {
  display: flex;
  justify-content: center;
  padding: 3%;
}
/*MIXIN*/
@mixin width-body{
  max-width: 1320px;
  width: 100%;
}
@mixin flex-atributos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: mulish;
  src: url(/font/Mulish-SemiBold.ttf);
}

/* #SHARED */
a {
  text-decoration: none;
  color: aliceblue;
  font-size: 20px;
}



.fondo_oscuro {
  background-color: #21252b;
  
}



.button_rosado {
  background-color: map-get($map: $colors, $key: color-botton);
  border-radius: 38px;
  height: 50px;
  color: #ffff;
  width: fit-content;
  padding: 10px 40px;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    
    background-color: map-get($map: $colors, $key: color-botton-hover);
  }
}
.button_rosado {

  @media (max-width: 768px) {
    font-size: map-get($map: $font, $key: text-base);
    height: 30px;
  }
  @media (max-width: 375px) {
    font-size: map-get($map: $font, $key: text-xs);
    height: 30px;
  }
  
}




/*TEXTOS*/
.texto-titulo {
  font-size: map-get($map: $font, $key: text-2xl);
  color: map-get($map: $colors, $key: color-texto);

  @media (max-width: 768px) {
    font-size: map-get($map: $font, $key: text-lg);
  }
  @media (max-width: 375px) {
    font-size: map-get($map: $font, $key: text-xs);
  }

}
.texto-contenido {
  font-size: map-get($map: $font, $key: text-lg);
  color: map-get($map: $colors, $key: color-texto);

  @media (max-width: 768px) {
    font-size: map-get($map: $font, $key: text-base);
  }
  @media (max-width: 375px) {
    font-size: map-get($map: $font, $key: text-xs);
  }
  
}
.texto-subtitulo{
  color: map-get($map: $colors, $key: color-texto);
  font-size: map-get($map: $font, $key: text-xl);

  @media (max-width: 768px) {
    font-size: map-get($map: $font, $key: text-base);
  }
  @media (max-width: 375px) {
    font-size: map-get($map: $font, $key: text-xs);
  }
}